@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::selection {
  background: transparent;
}

.formContainer {
  @apply pt-2 pb-6 rounded-lg;
}

@media print {
  .no-print {
    display: none !important;
  }
}

@media screen {
  .only-print {
    display: none !important;
  }
}

aside .icon {
  /* @apply text-red-500; */
}

form input,
form select {
  @apply w-full px-3 py-2 text-sm  border rounded-md;
}

form {
  @apply flex flex-col gap-y-4;
}

form label {
  @apply font-bold text-gray-600 text-sm;
}

form .inputContainer {
  @apply flex flex-col gap-1;
}

main {
  min-height: calc(100vh);
  height: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  background-color: #f1f3f9;
}

.paySection {
  height: calc(100vh - 5rem);
}

.searchInput:focus {
  border: 2px solid blue; /* Change the border color and width as needed */
}

li {
  list-style: none;
}

@media (max-width: 768px) {
  main {
    width: 100vw;
  }
}
@media (max-width: 580px) {
  html {
    @apply text-sm;
  }
}

@media print {
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  main {
    margin-left: 0;
    background-color: white;
  }
  .result-sheet {
    width: 100%;
  }

  .no-print {
    display: none;
  }
}
