@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

.formContainer {
  @apply pt-2 pb-6 rounded-lg;
}

form input,
form select {
  @apply w-full px-3 py-2 text-sm  border rounded-md;
}

form {
  @apply flex flex-col gap-y-4;
}

form label {
  @apply font-bold text-gray-600 text-sm;
}

form .inputContainer {
  @apply flex flex-col gap-1;
}

main {
  min-height: calc(100vh);
  height: 100%;
  position: relative;
  bottom: 0;
  width: calc(100vw - 260px);
}

.paySection {
  height: calc(100vh - 5rem);
}

li {
  list-style: none;
}

form button {
  @apply rounded-lg px-3 py-2;
}
