@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

.formContainer {
  @apply pt-2 pb-6 rounded-lg;
}

form input,
form select {
  @apply w-full px-3 py-2 text-sm  border rounded-md;
}

form {
  @apply flex flex-col gap-y-4;
}

form label {
  @apply font-bold text-gray-600 text-sm;
}

form .inputContainer {
  @apply flex flex-col gap-1;
}

main {
  min-height: calc(100vh - 5rem);
  width: calc(100vw - 280px);
}

.paySection {
  height: calc(100vh - 5rem);
}

form button {
  @apply rounded-lg px-3 py-2;
}

table {
  @apply px-4;
}

table thead {
  /* @apply flex flex-shrink-0 w-full; */
  justify-self: start;
  @apply text-left;
}

table th {
  @apply py-4 px-6 bg-slate-500;
}

table td {
  text-align: start;
  @apply py-3 px-6 text-sm;
}

table tr {
  @apply border;
  @apply py-2 pl-6;
}

table tr:nth-child(2n) {
  @apply bg-slate-200;
}
